body {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  display: block;
  margin: 30px auto;
  background: gold;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;}

.btn:hover {
  background: goldenrod;
  color: rgb(0, 0, 0);
}

.benefits {
  padding: 80px 10%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.benefits h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.benefits p {
  font-size: 18px;
  margin-bottom: 20px;
}

.escolher {
  font-size: 36px;
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  flex: 1;
  margin: 0 10px;
  background: white;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 20px 0;
  font-size: 24px;
}

.card p {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 50px;
}

.product img {
  max-width: 50%;
  border-radius: 20px;
}

.product-text {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.imagens img {
  max-width: 200px;
  border-radius: 20px;
}

.imagens img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

#perfumes {
  max-width: 100%;
  border-radius: 20px;
}

.fim {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-dark {
  background: black;
  color: white;
  display: block;
  margin: 40px auto;
  background: gold;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-dark:hover {
  background: goldenrod;
  color: rgb(0, 0, 0);
}

footer {
  background: black;
  padding: 20px 0;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

